@model ApiSearchVM
@{
    ViewData["Title"] = "Api Arama";
}

<div class="row mt-5 pt-5">
    <div class="col"></div>
    <div class="col shadow border border-success rounded-lg mt-5 pt-3">
        <form asp-controller="Home" asp-action="ApiSearch" method="post">
            <div class="form-group">
                <label asp-for="QueryText"></label>
                <input class="form-control" asp-for="QueryText" placeholder="Aranacak metni giriniz...">
            </div>
            <div class="form-group">
                <label asp-for="SearchType"></label>
                <select class="form-control" asp-for="SearchType" asp-items="Html.GetEnumSelectList<ApiSearchTypeEnum>()">
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Api arama</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>